### Data structures in Python

##### Topic - List

In [15]:
#Exercise-1
# Q1. Create a list of 5 random numbers and print the list. 
l1= [17,12,35,22,67]
print(l1)

[17, 12, 35, 22, 67]

In [16]:
# Q2. Insert 3 new values to the list and print the updated list.
l1.extend([100,50,25])
print(l1)

[17, 12, 35, 22, 67, 100, 50, 25]

In [17]:
# Q3. Try to use a for loop to print each element in the list.
for number in l1:
    print(number)

17
12
35
22
67
100
50
25

##### Topic - Dictionary

In [18]:
#Exercise-2
# Q1. Create a dictionary with keys 'name', 'age', and 'address' and values 'John', 25, and 'New York' respectively.
d1={'Name':'John','Age':'22','Address':'New York'}
print(d1)

{'Name': 'John', 'Age': '22', 'Address': 'New York'}

In [19]:
# Q2. Add a new key-value pair to the dictionary created in Q1 with key 'phone' and value '1234567890'
d1['phone']='1234567890'
print(d1)

{'Name': 'John', 'Age': '22', 'Address': 'New York', 'phone': '1234567890'}

##### Topic - Set

In [20]:
#Exrcise-3
# Q1.Create a set with values 1, 2, 3, 4, and 5.
s1={1,2,3,4,5}
s1

{1, 2, 3, 4, 5}

In [21]:
# Q2 Add the value 6 to the set created in Q1.
s1.add(6)
s1

{1, 2, 3, 4, 5, 6}

In [22]:
# Q3. Remove the value 3 from the set created in Q1.
s1.remove(3)
s1

{1, 2, 4, 5, 6}

##### Topic - Tuple

In [23]:
#Exercise-4
# Q1. Create a tuple with values 1, 2, 3, and 4
t1=1,2,3,4
t1

(1, 2, 3, 4)

In [24]:
# Q2. Print the length of the tuple created in Q1.
print(len(t1))

4